.body {
  background-color: #FFF8DC;

}

.wrapper {
  display: grid;
  border: 2px solid #000;
  grid-template-columns:30% 70%;
  grid-template-rows: ;
  width: 100%;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: #5F9EA0;
  font-family: sans-serif;
}

.one{

  margin: 20px ;
  padding: 5px;

}

.two{
  border: 
  display:grid;
  margin: 15px;
  padding: 5px;
}
.twoOne{
  display:grid;
  grid-template-columns: 70% 30%;
  justify-content: space-between;
  border:

}
.three{

  margin: 5px;
  padding: 5px;
}

.four{

  margin: 5px;
  padding: 5px;

}

.five{

  margin: 5px;
  padding: 5px;
}
.six{

  margin: 5px;
  padding: 5px;
}
